---
import Layout from '../layouts/Layout.astro';
---

<Layout title="À Propos - Selim BOUBTANE">
    <section>
        <h1>À Propos de Moi</h1>
        <p>
            Bienvenue sur ma page "À Propos". Je suis [ton nom], un développeur passionné par [tes spécialités].
        </p>
        <p>
            Mon portfolio met en valeur mes compétences en [tes compétences ou technologies].
        </p>
        <p>
            Je suis toujours à la recherche de nouveaux défis et d’opportunités pour approfondir mes connaissances et partager mes compétences. Mon objectif est de créer des solutions innovantes et efficaces pour répondre aux besoins de mes clients et partenaires.
        </p>
    </section>
</Layout>
